<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img  class="logo" src="/images/logo.png" id="icon" alt="User Icon" height="200" width="110"/>
      </div>

      <!-- Login Form -->
      <form method="POST" action="/hit">
        <input type="text" id="row" class="fadeIn second" name="row" placeholder="row">
        <input type="text" id="col" class="fadeIn third" name="col" placeholder="col">
        <input type="submit" class="fadeIn fourth" value="Hit!">
      </form>
    </div>
  </div>
</body>
</html>